* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --blue: #46B1DE;
}
body {
    position: relative;
}
header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1180px;
    width: 98%;
    height: 91px;   
    top: 60px;
    left: 50%;
    transform:translate(-50%);
}
body {
    background-image: url(../img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: inherit;
    max-width: 1400px;
    margin: 0px auto;
}
 a { 
    color: #000000;
}
.logo {
    display: flex;
    align-items: center;
}
.logo p {
    font-family: 'Sofia Sans';
    font-weight: 400px;
    font-size: 38px;
    text-transform: uppercase;
    line-height: 0.9;
    color: var(--blue);
    padding-left: 20px;
}
.logo p span {
    font-weight: 400px;
    font-size: 26px;
    text-transform: lowercase;
    color: var(--blue);
}
.nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}
.nav a:hover { 
    color: var(--blue);
}
.nav > li + li {
    margin-right: 60px;
}
.nav > li {
    margin-right: 60px;
}
.nav > li + li + li {
    margin-right: 0px;
}
.tel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}
.tel a img {
    margin-right: 5px;
}
.tel > a + a {
    margin-right: 23px;
}
.lang > a {
    padding-right: 13px;
    border-right: 1px solid black;
    font-weight: 600;
}
.lang > a + a {
    font-weight: 400;
    padding-right: 0px;
    padding-left: 13px;
    border: none;
}
.container {
    position: absolute;
    max-width: 1180px;
    width: 98%;
    left: 50%;
    transform:translate(-50%);
    top: 185px;
 }
 h1 {
    padding: 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 52px;
    letter-spacing: 10%;
 }
 h1 span {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 52px;
    color: var(--blue);
 }
 .box-ledy {
    top: -52px;
    right: 0px;
    position: absolute;
    z-index: -2;
 }
 .container p {
    margin-top: 30px;
    line-height: 22px;
 }
 .box-button {
    display: flex;
    max-width: 480px;
    justify-content: space-between;
    margin-top: 48px;
 }
 .call, .service {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%); 
    width: 180px;
    height: 60px; 
    box-shadow: 0px 2px 10px #46B1DE;
    border-radius: 8px;
 }
 .service {
    color: var(--blue);
    background: #FFFFFF;
    border: 1px solid #DDE0DC;  
 }
 .container-second {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    min-height: 120px;
    margin: 0px auto;
    margin-top: 48px;
    margin-top: 54px;
    padding: 0;
 }
 .container-second div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 280px;
    height: 120px;
    background: #FFFFFF; 
    border: 1px solid #d8e1e1; 
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
 }  
 .container-second div p {
    margin: 0;
    text-transform: lowercase;
 }
 .container .container-second div .number {
    font-size: 65px;
    color: #46b1de;
 }
 h2 {
    margin-top: 810px;
    text-align: center;
    font-size: 34px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
 }
 h2 span {
    font-size: 34px;
    font-weight: 600px;
    color: var(--blue);
    line-height: 44px;
 }
 .container-centr { 
    position: absolute;
    max-width: 1180px;
    width: 98%;
    left: 50%;
    transform:translate(-50%);
    z-index: -1;
 }
 .container-centr p {
    text-align: center;
    margin-top: 5px;
 }
 .box-master {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    background-color: #a1c7d4;
    margin: 0px auto;
    margin-top: 50px;
    grid-template-columns: 300px 300px 300px;
    max-width: 1020px;
    min-height: 396px;
    border-radius: 12px;
}
.box-master div {
    display: grid;
    align-content: center;
    justify-content: space-evenly;
    max-width: 300px;
    height: 176px;
    row-gap: 0px;
    background-color: #FFFFFF;
    border-radius: 8px;
    top: 5px;
}
.box-master div p {
    display: flex;
    height: 40px;
    text-align: left;
}
.box-master div div {
    display: flex;
    justify-content: flex-start;
    width: 240px;
    height: 50px;
    border: none;
}
.box-master div div > p {
    font-size: 37px;
    color: var(--blue);
}
.box-master div > p + p {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 10px;
}
.box-master div > p + p + p {
    font-size: 15px;
    text-transform: none;
    color: #000000;
}
.box-6 {
    order: 5;
}
.box-4 {
    order: 4;
}
.input {
    max-width: 1180px;
    position: absolute;
    margin-top: 1437px;
    text-align: center;
    left: 50%;
    transform:translate(-50%);
}
.input-box {
    padding-top: 8px;
    width: 845px;
    height: 265px;
    background: #FFFFFF;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0px auto;
}
.input-box div {
    width: 821px;
    height: 247px;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid #d9d9d9;
    backdrop-filter: blur(2px);
    border-radius: 10px;
}
.foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 979px;
    min-height: 129px;
    margin-top: 80px;
}
.foto img {
    display: flex;
}

 